.cart{
    background-color: rgba(39, 23, 1, 0.502);
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart h4{
    font-size: 20px;
}.btn-clear-cart{
    width: 90%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    background-color: #FF3030;
    color: white;
    border-radius: 4px;
}
